@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.note-content {
    font-size: 18px;
}

.note {
    border: 2px solid rgb(250, 204, 21);
    padding: 5px;
    border-radius: 10px;
    min-height: 150px;
    width: 100%;
    overflow: hidden;
}

.note:hover {
    background-color: rgb(250, 226, 133);
}

.note h3 {
    font-weight: bold;
    outline: none;
}

.note h3:first-letter {
    text-transform: uppercase;
}

.note hr {
    border-color: rgb(107, 105, 105);
    margin: 10px 0;
}

.note p {
    text-decoration: underline solid rgb(245, 212, 81);
    text-underline-offset: 10px;
    outline: none;
}

.note p:first-letter {
    text-transform: uppercase;
}

#add-note-button:hover {
    background-color: rgb(250, 226, 133);
}

#add-button:hover {
    background-color: rgb(250, 226, 133);
}

.filter {
    /* filter: invert(15%) sepia(92%) saturate(7179%) hue-rotate(357deg) brightness(90%) contrast(118%) !important; */
    filter: invert(77%) sepia(97%) saturate(2561%) hue-rotate(345deg) brightness(109%) contrast(98%) !important;
}